
    <footer class="main-footer">
      <strong>Copyright © 2017</strong>
      <div class="pull-right hidden-xs"><b>Social Network</b></div>
    </footer>
  </div>

  <script src="..js/jquery.min.js"></script>
  <script src="..js/bootstrap.min.js"></script>
</body>
</html>
